# ── App ───────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=5000
APP_NAME=Qcena

INITIAL_BALANCE=10000

# ── Database ──────────────────────────────────────────────────────────────────
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app"

# ── Database Cloud ──────────────────────────────────────────────────────────────────
# DATABASE_URL="postgresql://neondb_owner:npg_NtDO4F6TYjRM@ep-floral-pond-ahoqoa66-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# SQLite (dev rápido): DATABASE_URL="file:./dev.db"

# ── JWT ───────────────────────────────────────────────────────────────────────
JWT_ACCESS_SECRET="access-secret-min-256bits"
JWT_ACCESS_EXPIRES_IN="7d"
JWT_REFRESH_SECRET="refresh-secret-min-256bits"
JWT_REFRESH_EXPIRES_IN="7d"

# ── Redis ─────────────────────────────────────────────────────────────────────
# REDIS_HOST="redis"
REDIS_PORT=6380
REDIS_PASSWORD=

# ── Redis Cloud ───────────────────────────────────────────────────────────────
# REDIS_HOST=redis-15664.c326.us-east-1-3.ec2.cloud.redislabs.com
# REDIS_PORT=15664
# REDIS_PASSWORD=Bi7EqbmiIAdGZSIwE98H4yQfyZEcRqck

# ── Email ─────────────────────────────────────────────────────────────────────
# Escolhe o provider: "resend" ou "smtp"
EMAIL_PROVIDER=smtp
EMAIL_FROM='"X-MAJ" <xmaj2001@gmail.com>'

# Resend
RESEND_API_KEY="re_xxxxxxxxxxxx"

SMTP_HOST=smtp.gmail.com
# 587 / 465
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=""

# ── OTP ───────────────────────────────────────────────────────────────────────
OTP_EXPIRES_SECONDS=300

# ── Pino ──────────────────────────────────────────────────────────────────────
LOG_LEVEL=debug
LOG_PRETTY=true

# ── Webhook ───────────────────────────────────────────────────────────────────
WEBHOOK_SECRET="webhook-hmac-secret"
